
  <div class="question">
    <div class="question-text">
      <span>{{qapi.question}}</span>
    </div>
    <span class="question-count">Question {{questioncount}}/{{numberofquestions}}</span>
    <div class="question-timeline">
      <div ng-style="{width: 100*questioncount/numberofquestions+'%'}" class="question-timeline-done"></div>
    </div>
  </div>
  <div class="row answers">
      <div ng-repeat="answer in qapi.answers" ng-click="giveAnswer(answer.answer)" class="col-xs-6 answer">
        <div>{{answer.answer}}</div>
      </div>
  </div>